@import fonts.sass
  
body
  background-color: #161516
  margin: 0
  padding: 0
  font-family: "Stolzl Regular"

.header
  &-wrap
    padding: 40px 60px
  .burger
    display: flex
    flex-direction: column
    gap: 8px 0
    &__frs-line
      margin-left: 9px
      transition: all 0.3s
  .burger:hover
    .burger__frs-line
      margin-left: 0